<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- aa niche ni line lakhva thi evu thay ke partials/head ma je code hase e ahi aavi jase means je code repeat thato hoy ene aapde ahi partial ma muki ne rakhi sakie ANE ENE HAVE NICHE MUJAB USE KARI SAKAY -->
   <%- include("./partials/head") %>
    <title>Home Page</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <%- include("./partials/scripts") %>
  </body>
</html>
